    <!-- Section About Us -->
    <div id="about" class="section">
        <div class="container"> 
            <h2 class="text-center">About Us</h2>
            <p class="lead text-center">perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta</p>
            <!-- Our Mission -->	
            <div class="card-media row">
                <div class="col-sm-6 col-xs-12">
                    <img src="assets/img/our-mission.jpg" title="Our Mission" alt="Our Mission" class="img-responsive" />
                </div>
                <div class="col-sm-6 col-xs-12">
                   <div class="card-media-body">
						<h3 class="card-media-title text-uppercase">Our Mission</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et? amet consectetur adipiscing.</p>
					</div>
                </div>
            </div><!-- End Our Mission -->	
            <!-- Our Vision -->
            <div class="card-media row">
                <div class="col-sm-6 col-xs-12 pull-right">
                    <img src="assets/img/our-vision.jpg" title="Our Vision" alt="Our Vision" class="img-responsive" />
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card-media-body">
                        <h3 class="card-media-title text-uppercase">Our Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et? amet consectetur adipiscing.</p>
                    </div>
                </div>
            </div><!-- End Our Vision -->
            <!-- Our Goals -->
            <div class="card-media row">
                <div class="col-sm-6 col-xs-12">
                	<img src="assets/img/our-goals.jpg" title="Our Goals" alt="Our Goals" class="img-responsive" />
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card-media-body">
                        <h3 class="card-media-title text-uppercase">Our Goals</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et? amet consectetur adipiscing.</p>
                    </div>
                </div>
            </div><!-- End Our Goals -->
            <!-- Our Accomplishments -->
            <div class="card-media row">
                <div class="col-sm-6 col-xs-12 pull-right">
                    <img src="assets/img/our-accomplishments.jpg" title="Our Accomplishments" alt="Our Accomplishments" class="img-responsive" />
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card-media-body">
                        <h3 class="card-media-title text-uppercase">Our Accomplishments</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et? amet consectetur adipiscing.</p>
                    </div>
                </div>
            </div><!-- End Our Accomplishments -->
            
        </div>
    </div><!-- End Section About Us --> 