<!--
    Navbar
  -->
  <nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar primary-navbar">
    <div class="container"> 
<!-- Brand and toggle get grouped for better mobile display -->


<div class="navbar-header">
                <button class="pmd-ripple-effect navbar-toggle pmd-navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" title="" href="index.html">
                  <img class="logo-dark" src="assets/img/logo-quantify-dark.svg" alt="Quantify - One Page HTML Theme" />
                    <img class="logo-light" src="assets/img/logo-quantify-light.svg" alt="Quantify - One Page HTML Theme" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">
                <!--Navbar Search -->
     <!--   <div class="pmd-navbar-right-icon pull-right">
                    <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect search-toggle" href="javascript:void(0);">
                        <i class="material-icons md-dark pmd-sm pmd-svg-icon">search</i>
                        <i class="material-icons md-dark pmd-sm pmd-svg-icon">close</i>
                    </a>
                    <form class="search-form" method="get" id="searchform">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Search" placeholder="Search" />
                        </div>
                    </form>
                </div>   End Navbar Search -->
                <!-- Navbar Right -->
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#how-we-work">How</a></li>
                    <li><a href="#team-members">team</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#articles-to-read">Articles</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <span class="nav-active"></span>
                </ul><!-- End Navbar Right -->
            </div>
        </div>
        <div class="pmd-sidebar-overlay"></div> 
    </nav> <!-- Emd Navbar -->