    <!--
		Section How We Work
-->
    <div id="how-we-work" class="section white-bg text-center">
        <div class="container">
			<h2>How We Work</h2>
            <p class="lead">perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
			eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                	<!-- How We Work Card -->
                	<div class="pmd-card pmd-card-border pmd-z-depth">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                            <img class="svg" src="assets/img/awesome.svg" alt="Awesome" title="Awesome">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                            <h4 class="pmd-card-title-text">Awesome</h4>
                            <p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>
                        </div>
                	</div> <!-- End How We Work Card -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                	<!-- How We Work Card -->
                	<div class="pmd-card pmd-card-border pmd-z-depth">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                            <img class="svg"  src="assets/img/innovative.svg" alt="Innovative" title="Innovative">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">Innovative</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>	
                		</div>
                	</div> <!-- End How We Work Card -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                	<!-- How We Work Card -->
                	<div class="pmd-card pmd-card-border pmd-z-depth">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                            <img class="svg"  src="assets/img/creative.svg" alt="Creative" title="Creative">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">Creative</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>	
                		</div>
                	</div> <!-- End How We Work Card -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                	<!-- How We Work Card -->
                	<div class="pmd-card pmd-card-border pmd-z-depth">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                           <img class="svg"  src="assets/img/experimental.svg" alt="Experimental" title="Experimental">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">Experimental</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>	
                		</div>
                	</div> <!-- End How We Work Card -->
                </div>
			</div>
        </div>
    </div><!--End Section How We Work -->