    <!--
		Intro section
-->
    <div id="intro" class="intro-section owl-carousel text-center">
		<div class="intro-img intro-banner-left" style="background-image: url('assets/img/bg-1.jpg'); background-size: cover;">
            <div class="container">
                <div class="intro-text">
                    <h1 class="inverse">A developer Library</h1>	
                    <p class="lead inverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. </p>
                    <button class="btn btn-primary pmd-btn-outline pmd-ripple-effect btn-lg">Get Started</button>
                </div>
            </div>
		</div>
		<div class="intro-img" style="background-image: url('assets/img/bg-2.jpg'); background-size: cover;">
            <div class="container">
                <div class="intro-text">
                    <h1 class="inverse">A smarter solution for development</h1>	
                    <p class="lead inverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. </p>
                    <button class="btn btn-primary pmd-btn-outline pmd-ripple-effect btn-lg">Get Started</button>
                </div>
            </div>
		</div>
		<div class="intro-img" style="background-image: url('assets/img/bg-3.jpg'); background-size: cover;">
            <div class="container">
                <div class="intro-text">
                    <h1 class="inverse">Design better. Faster. Together.</h1>	
                    <p class="lead inverse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. </p>
                    <button class="btn btn-primary pmd-btn-outline pmd-ripple-effect btn-lg">Get Started</button>
                </div>
            </div>
		</div>
	</div>
    <!-- End Section Intro Slider -->