   <!--
		Section Testimonials
-->  
    <div id="testimonials" class="section white-bg text-center">
        <div class="container"> 
            <h2 class="without-subtext">Testimonials</h2>
            <div class="row">
            	<div class="col-sm-10 col-xs-12 col-sm-push-1 col-lg-push-1">
              		<div id="testimonials-slider" class="owl-carousel testimonials-slider">
                		<div class="testimonial-item">
                  			<p><em>Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis.</em></p>
                  			<div class="clinet-pic"><img class="img-responsive" src="assets/img/tes-1.jpg" title="Yasin Arafat" alt="Yasin Arafat"></div>
                  			<div class="clinet-name text-uppercase">Yasin Arafat</div>
                		</div>
                		<div class="testimonial-item">
                  			<p><em>Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis.</em></p>
                  			<div class="clinet-pic"><img class="img-responsive" src="assets/img/tes-2.jpg" title="Lim Sarah" alt="Lim Sarah"></div>
                  			<div class="clinet-name text-uppercase">Lim Sarah</div>
                		</div>
               			<div class="testimonial-item">
                  			<p><em>Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis.</em></p>
                  			<div class="clinet-pic"><img class="img-responsive" src="assets/img/tes-3.jpg" title="RAFIQUL ISLAM" alt="RAFIQUL ISLAM"></div>
                  			<div class="clinet-name text-uppercase">RAFIQUL ISLAM</div>
                		</div>
                		<div class="testimonial-item">
                  			<p><em>Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Suspendisse congue ligula non quam dictum dignissim. Nunc pretium, odio nec rhoncus vehicula, ligula tellus tristique tortor, at ultricies dui dui et sem. Vivamus porta turpis ac urna posuere dignissim dapibus felis facilisis.</em></p>
                  			<div class="clinet-pic"><img class="img-responsive" src="assets/img/tes-4.jpg" title="Jon Thompson" alt="Jon Thompson"></div>
                  			<div class="clinet-name text-uppercase">Jon Thompson</div>
                		</div>
              		</div>
            	</div>
            </div>
        </div>
    </div>

    <!-- End Section testimonials -->