	<!------------------------------
		Section Articles To Read
 	------------------------------->   
	<div id="articles-to-read" class="section articles-to-read">
        <div class="container"> 
          	<h2 class="text-center without-subtext">Articles to Read</h2>
          	<div class="row">
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                	<!-- Articles Card -->
              		<div class="pmd-card pmd-z-depth">
						<div class="pmd-card-media">
							<a href="javascript:void(0)" title="Headline indicating nature of articles">
								<img alt="" src="assets/img/news-img-1.jpg" class="img-responsive" />
							</a>
						</div>
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">
								<a href="javascript:void(0)" title="Headline indicating nature of articles">The craft and logic of design</a>
							</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                		</div>
              		</div><!-- End Articles Card -->
            	</div>
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              		<!-- Articles Card -->
                    <div class="pmd-card pmd-z-depth">
                		<div class="pmd-card-media">
                        	<a href="javascript:void(0)" title="Headline indicating nature of articles.">
                            	<img alt="" src="assets/img/news-img-2.jpg" class="img-responsive" />
                            </a>
                        </div>
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">
                  				<a href="javascript:void(0)" title="Headline indicating nature of articles.">A product manager’s guide to working with visual designers</a>
                  			</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                		</div>
              		</div><!-- End Articles Card -->
            	</div>
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 visible-lg visible-md hidden-sm visible-md visible-xs">
                	<!-- Articles Card -->
              		<div class="pmd-card pmd-z-depth">
                		<div class="pmd-card-media">
                        	<a href="javascript:void(0)" title="Headline indicating nature of articles.">
                            	<img alt="" src="assets/img/news-img-3.jpg" class="img-responsive" />
                            </a>
                        </div>
                		<div class="pmd-card-body">
                			<h4 class="pmd-card-title-text">
                  				<a href="javascript:void(0)" title="Headline indicating nature of articles.">8 tips for designing mobile-friendly websites</a>
                  			</h4>
                			<p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                		</div>
              		</div><!-- End Articles Card -->
            	</div>
            </div>
        </div>
    </div><!-- End Section Articles To Read --> 