    <!--
		Section Statistics
-->           
    <div id="statistics" class="section white-bg">
    	<div class="container"> 
      		<h2 class="text-center without-subtext">Statistics</h2>
            <div class="row">
            	<div class="col-sm-4 col-xs-12">
              		<!--Statistics Card-->
               		<div class="pmd-card pmd-card-transparent text-center">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                            <img class="svg" src="assets/img/project.svg" alt="Projects" title="Projects">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                            <h4 class="pmd-card-title-text text-uppercase">
                            	<span class="pmd-display2 stat-item">254<br></span> Projects
                            </h4>
                            <p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>	
                        </div>
                	</div>
        		</div><!--Statistics Card-->
        		<!--Statistics Card-->
        		<div class="col-sm-4 col-xs-12">
               		<div class="pmd-card pmd-card-transparent text-center">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                            <img class="svg" src="assets/img/happy-client.svg" alt="Happy Clients" title="Happy Clients">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                            <h4 class="pmd-card-title-text text-uppercase">
                            	<span class="pmd-display2 stat-item">68<br></span> Happy Clients
                            </h4>
                            <p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>
                        </div>
                	</div>
        		</div><!--End Statistics Card-->
        		<!--Statistics Card-->
        		<div class="col-sm-4 col-xs-12">
               		<div class="pmd-card pmd-card-transparent text-center">
                		<!-- Card media -->
                		<div class="pmd-card-icon">
                           <img class="svg" src="assets/img/components.svg" alt="Components" title="Components">
                		</div>
                		<!-- Card header -->
                		<div class="pmd-card-body">
                            <h4 class="pmd-card-title-text text-uppercase">
                            	<span class="pmd-display2 stat-item">26<br></span> Components
                            </h4>
                            <p class="pmd-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>	
                        </div>
                	</div>
        		</div><!--End Statistics Card-->
      		</div>
    	</div>
    </div><!-- End Section Statistics -->
	