
	<!--
		Section Subscribe Now
-->                
    <div id="subscribe" class="section primary-bg section-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12">

                	<div class="media pmd-subscribe">
                    	<div class="media-left media-middle">
                        	<h2 class="section-title text-uppercase">Subscribe <span>for Updates</span></h2>
                        </div>
                    	<div class="media-body media-middle">
                           <form class="form-inverse">
								<div class="form-group form-group-lg pmd-textfield">
									<input type="text" class="form-control" placeholder="Enter your Email">
								</div>
                            </form>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0)" title="download Now" class="btn btn-lg pmd-btn-outline pmd-ripple-effect btn-default">Subscribe</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!-- End Section download Now --> 

