---
layout: compress
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
  
    <title>Quantify - Responsive One Page HTML Theme Preview - Propeller</title>
    <meta name="description" content="Quantify is a free responsive one page HTML material theme built with Propeller. It is a perfect theme for a variety of uses from blogs to personal or business portfolios."/>
  <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon" />
  
  <!--Google Material icon-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="all"/>
    
    <!--Propeller css-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/propeller.min.css" type="text/css" media="all"/>
    
    <!--Owl Carousel css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css" type="text/css" media="all"/>
    
    <!--Quantify css-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/quantify-theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/quantify.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/popup-gallery.css" type="text/css">
                
</head>
<body>
  
{% include header.html %}


        {{ content }}


{% include footer.html %}

    


    <!--Jquery-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <!--Bootstrap js-->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--Propeller js-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/propeller.min.js"></script>
    
    <!--Owl Carousel js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    
    <!--Quantify custom js
    <script type="text/javascript" src="js/jquery.loadie.js"></script> -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/quantify-global.js"></script> 


    <script src="{{ site.baseurl }}/assets/jquery.magnific-popup.min.js"></script>

<script src="{{site.baseurl}}/assets/common.js"></script>
        
</body>
</html>